/* temp to make livedash development easier */
.match-list {
  max-height: 500px;
  overflow-y: scroll;
}

.matchrow, #next-matchrow {
  text-align: center;
  margin: 0 0 10px 0;
}

.matchrow {
  height: 40px;
}

#next-matchrow, .num-time {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#next-matchrow, .wlt {
  border-top-right-radius: 5px;
}

#next-matchrow, .wlt {
  border-bottom-right-radius: 5px;
}

#next-matchrow {
  background: #FFCC00;
}

.num-time {
  width: 30%;
  float: left;
  background: #dddddd;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.alliances {
  width: 50%;
  float: left;
}

.scores {
  width: 15%;
  float: left;
}

.wlt {
  width: 5%;
  height: 100%;
  float: left;
  display: table;
  background: #dddddd;
}

.wlt.win {
  background: #aaffaa;
}

.wlt.loss {
  background: #ffaaaa;
}

.wlt.tie {
  background: #aaaaaa;
}

.wlt > span {
  display: table-cell;
  vertical-align: middle;
}

.red-alliance {
  background: #ffeeee;
}

.blue-alliance {
  background: #eeeeff;
}

.team {
  width: 33%;
  float: left;
}

.team-highlight {
  font-weight: bold;
}

.red-score {
  background: #ffdddd;
}

.blue-score {
  background: #ddddff;
}
