<div class="row">
  <div class="col-xs-12">
    <h2>Team {{team.team_number}}{% if team.nickname %} - {{team.nickname}}{% endif %}</h2>
  </div>
</div>

{% if current_event %}
<script src="/javascript/react-with-addons.js"></script>
<script src="/javascript/JSXTransformer.js"></script>
<script type="text/jsx" src="/javascript/tba_js/livedash_team.js"></script>
<div id="team-live-dash" class="row" data-event-key-name="{{current_event.key.id|safe}}"></div>
{% endif %}

<div class="row">
  <div class="col-sm-7">
    <p>
      {% if team.location %}<span class="glyphicon glyphicon-map-marker"></span> from <a href="http://maps.google.com/maps?q={{ team.location|urlencode }}">{{ team.location }}</a><br />{% endif %}
      {% if team.name %}<span class="glyphicon glyphicon-info-sign"></span> aka <em>{{ team.name }}</em><br />{% endif %}
      {% if team.rookie_year %}<span class="glyphicon glyphicon-calendar"></span> first competed in {{ team.rookie_year }}{% endif %}
      {% if team.website %}<span class="glyphicon glyphicon-globe"></span> <a href="{{team.website}}" target="_blank">{{ team.website }}</a>{% endif %}
    </p>

    <p><span class="glyphicon glyphicon-search"></span> <strong>#frc{{ team.team_number }}</strong> <small><a href="/hashtags" rel="tooltip" title="Learn more about hashtags">?</a></small> - Search
      <a class="hashtag-link hashtag-twitter" href="https://twitter.com/search/%23frc{{ team.team_number }}" target="_blank" title="Search Twitter">Twitter</a> &middot;
      <a class="hashtag-link hashtag-youtube" href="http://www.youtube.com/results?search_query=%23frc{{ team.team_number }}+OR+%22team+{{ team.team_number }}%22" target="_blank" title="Search YouTube">YouTube</a> &middot;
      <a class="hashtag-link hashtag-cd" href="http://www.chiefdelphi.com/media/photos/tags/frc{{ team.team_number }}" target="_blank" title="Search Chief Delphi">Chief Delphi</a> &middot;
      <a class="hashtag-link hashtag-flickr" href="http://www.flickr.com/search/?q=%23frc{{ team.team_number }}" target="_blank" title="Search Flickr">Flickr</a><br />
      <span class="image-atc"></span> <a href="http://atthecontrol.com/{{team.team_number}}">See live data on At The Control</a>
    </p>
  </div>
  <div class="col-sm-5">
    {% include "team_partials/team_social_media.html" %}
  </div>
</div>
